body {
  background-color: #b8dbfd !important;
}

#keyword {
  border: none;
  background: #E0D3B6;
  padding: 6px;
  font-size: 18px;
  width: 85%;
  border-radius: 6px;
  color: white;
}

#keyword:focus {
  outline: none;
}

#search_button {
  border: none;
  background: #E0D3B6;
  padding: 8px;
  color: white;
  width: auto;
  height: auto;
  cursor: pointer;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.store {
  display: flex;
  cursor: pointer;
  max-width: 500px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 5%;
  /* background-color:lightgreen; */
  /* background-color:lightpink; */
  /* background-color: tomato; */
  background-color: white;
  border-radius: 5%;
}

.thumbnail {
  margin: 20px;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.store .store_location {
  font-size: 16px;
  font-weight: 600;
}

.store .store_name {
  font-size: 17px;
  font-weight: 600;
}

.store .date {
  color: grey;
  font-size: 13px;
}

.bill {
  display: flex;
  cursor: pointer;
  max-width: 500px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1%;
  /* background-color:lightgreen; */
  /* background-color:lightpink; */
  /* background-color: tomato; */
  background-color: white;
  border-radius: 5%;
}

.bill-menu-img {
  margin: 20px;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.bill-menu-price {
  font-size: 16px;
  font-weight: 600;
}

.bill-menu-title {
  font-size: 17px;
  font-weight: 600;
}

.bill-menu-info {
  color: grey;
  font-size: 13px;
}

.bill-menu-count {
  font-size: 16px;
  font-weight: 600;
}